@{
    ViewData["Title"] = "Thank You";
}

<h1>Thank's for registering!</h1>
<h2>An admin will be notified and will assign you your role in the next 48 hours. Please log in then.</h2>
<p>For any help or advice please contact admin@quiz.com</p>

<a asp-controller="Home" asp-action="Index"> Click here to navigate to the home page</a>